footer {
  background: rgb(68, 68, 219);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: auto;
}

h2 {
  border-bottom: solid 2px white;
}

.customer-care {
  color: white;
}

footer a {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

footer a:hover {
  text-decoration: underline;
}

@media (width>700px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
}
