header {
  display: flex;
  flex-direction: column;
}
.topnav-left,
.topnav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(68, 68, 219);
  height: 2.5rem;
  align-items: center;

  a {
    border-right: solid 1.5px white;
    padding-right: 0.5em;
  }
  a:hover {
    text-decoration: underline;
  }
}

button img {
  width: 2rem;
  height: 2rem;
}

.name {
  color: rgb(68, 68, 219);
  text-align: center;
  font-size: 2rem;
}

.bottom-header {
  background-color: rgb(218, 218, 218);
}

.search {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 218, 218);
}

.financing {
  background-color: rgb(187, 5, 5);
  padding: 1.5ch;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

@media (width<700px) {
  .topnav-right {
    display: none;
  }
}

@media (width>700px) {
  header {
    display: flex;
  }
}
